<!doctype html>
<html lang="en" data-framework="intercoolerjs">
<head>
    <meta charset="utf-8">
    <title>Spark & intercooler</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/styles.css">
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <link rel="stylesheet" href="/css/counter.css">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.0/css/font-awesome.min.css">
</head>
<body>
<section id="voteapp" ic-target="this">
    <div id="votes">
        #parse("/velocity/votes.vm")
    </div>
</section>
<script src="/js/vendor/jquery-3.3.1.js"></script>
<script src="/js/vendor/intercooler-1.2.1.js"></script>
<script src="/js/app.js"></script>
</body>
</html>